* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 90px; /* Adjust this value to the height of your fixed header */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a4a4a;
  color: #fafafa;
  padding: 5px 20px;

  position: fixed; /* Fixes the element to the viewport */
  top: 0; /* Positions it at the top of the viewport */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Makes it span the full width */
  box-sizing: border-box; /* Ensures padding doesn't increase total width past 100% */
  z-index: 1000; /* Ensures the header stays on top of other content */
}
.applogo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.app-image {
  width: 80px;
  border-radius: 50%;
}
.logged-in-user-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.signOffImg {
  cursor: pointer;
}

/* ------------------------- */
.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f0f0f0;
  display: flex; /* Activates Flexbox on the parent container */
  justify-content: space-between; /* Distributes space between the items */
  gap: 20px; /* Adds space between the columns */
  /* margin-bottom: 100px; */
}

.left-sidebar,
.right-sidebar {
  width: 200px; /* Fixed width for the sidebars */
  min-width: 200px;
  /* background-color: #f0f0f0; */
  padding: 15px;
  /* margin: 20px 0; */
  background-color: #4a4a4a;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
  /* background-color: #ffffff; */
  background-color: #f0f0f0;
  padding: 15px;
  /* margin: 20px 0; */
  margin-top: 100px;
}

/*---left sidebar content start---*/
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav a:link,
nav a:visited {
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
}
nav a:hover,
nav a:active {
  text-decoration: none;
  /* color: #4a4a4a;
  font-weight: 600; */
}
/*---left sidebar content ends---*/

/*---About Page CSS Start---*/
.about-div {
  width: 80%;
  margin: 50px auto;
  color: #4a4a4a;
}
/*---About Page CSS Ends---*/
