* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 90px; /* Adjust this value to the height of your fixed header */
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4a4a4a;
  color: #fafafa;
  padding: 5px 20px;

  position: fixed; /* Fixes the element to the viewport */
  top: 0; /* Positions it at the top of the viewport */
  left: 0; /* Aligns it to the left */
  width: 100%; /* Makes it span the full width */
  box-sizing: border-box; /* Ensures padding doesn't increase total width past 100% */
  z-index: 1000; /* Ensures the header stays on top of other content */
}
.applogo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.app-image {
  width: 80px;
  border-radius: 50%;
}
.logged-in-user-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.signOffImg {
  cursor: pointer;
}

/* ------------------------- */
.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: #f0f0f0;
  display: flex; /* Activates Flexbox on the parent container */
  justify-content: space-between; /* Distributes space between the items */
  gap: 20px; /* Adds space between the columns */
  /* margin-bottom: 100px; */
}

.left-sidebar,
.right-sidebar {
  width: 200px; /* Fixed width for the sidebars */
  /* background-color: #f0f0f0; */
  padding: 15px;
  /* margin: 20px 0; */
  background-color: #4a4a4a;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
  /* background-color: #ffffff; */
  background-color: #f0f0f0;
  padding: 15px;
  /* margin: 20px 0; */
  margin-top: 100px;
}
.menu-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
  /* background-color: #ffffff; */
  background-color: #f0f0f0;
  padding: 15px;
  /* margin: 20px 0; */
  margin-top: 100px;
}
.cart-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
  /* background-color: #ffffff; */
  background-color: #f0f0f0;
  padding: 15px;
  /* margin: 20px 0; */
  margin-top: 100px;
}
.payment-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
  /* background-color: #ffffff; */
  background-color: #f0f0f0;
  padding: 15px;
  /* margin: 20px 0; */
  margin-top: 100px;
}
.orders-content {
  flex-grow: 1; /* Allows the main content to take up the remaining space */
  /* background-color: #ffffff; */
  background-color: #f0f0f0;
  padding: 15px;
  /* margin: 20px 0; */
  margin-top: 100px;
}
/*---left sidebar content start---*/
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav a:link,
nav a:visited {
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
}
nav a:hover,
nav a:active {
  text-decoration: none;
  /* color: #4a4a4a;
  font-weight: 600; */
}
/*---left sidebar content ends---*/

/*---main bar content start---*/
.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search-text {
  border: none;
  border-bottom: 2px solid #4a4a4a;
  font-size: 1rem;
  padding: 5px;
  background-color: #f0f0f0;
  width: 40%;
}
.search-btn {
  cursor: pointer;
  background-color: #4a4a4a;
  color: #fafafa;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Resturant-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  height: 100vh;
  overflow: auto;
  /* scrollbar-width: thin; 
  scrollbar-color: #4a4a4a;  */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* width: 80%; */
}
.Resturant-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.Resturant-info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.Resturant-info:last-child {
  margin-bottom: 200px;
}
h3.child {
  cursor: pointer;
}
.Resturant-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.hidden {
  display: none;
}
/*---Restuarant Menu List Start---*/
.Resturant-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  height: 100vh;
  overflow: auto;
  /* scrollbar-width: thin; 
  scrollbar-color: #4a4a4a;  */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* width: 80%; */
}
.Resturant-item-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.Resturant-item-info {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.Resturant-item-info:last-child {
  margin-bottom: 200px;
}
.Resturant-item-image {
  position: relative;
}
.Resturant-item-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.Add-btn {
  cursor: pointer;
  padding: 6px 12px;
  color: #fafafa;
  background-color: #4a4a4a;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, 10%);
}
/*---Restuarant Menu List Ends---*/
/*---Cart Item List start ---*/
.cart-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  height: 100vh;
  overflow: auto;
  /* scrollbar-width: thin; 
  scrollbar-color: #4a4a4a;  */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* width: 80%; */
  /* position: relative; */
}
.cart-item-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.cart-item-info {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.cart-item-info:last-child {
  margin-bottom: 200px;
}
.cart-item-image {
  position: relative;
}
.cart-item-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.Item-qty-btns {
  border: 2px solid #fafafa;
  border-radius: 10px;
  background-color: #4a4a4a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.minus-btn {
  cursor: pointer;
  padding: 6px 12px;
  color: #4a4a4a;
  background-color: #fafafa;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
}
.plus-btn {
  cursor: pointer;
  padding: 6px 12px;
  color: #4a4a4a;
  background-color: #fafafa;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
}
.Item-qty-value {
  color: #fafafa;
  background-color: #4a4a4a;
  font-size: 1rem;
  font-weight: 600;
  padding: 2px;
}
.cart-item-bill {
  width: 60%;
  margin: 50px auto;
  background-color: #918e8e;
  color: #fafafa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: table;
  text-align: center;
  margin-bottom: 0;
}
.tr {
  display: table-row;
}
.th {
  display: table-cell;
  font-weight: 600;
  padding: 4px 8px;
}
.td {
  display: table-cell;
}
.total {
  /* border-top: 2px solid #fff; */
  background-color: #4a4a4a;
  padding: 4px 8px;
}
.cart-item-order {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  /* background-color: #4a4a4a; */
  margin-bottom: 200px;
}
.order-btn {
  padding: 10px 20px;
  background-color: #fafafa;
  color: #4a4a4a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
.cancel-btn {
  padding: 10px 20px;
  background-color: #f33232;
  color: #fafafa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
/*---Cart Item List ends ---*/
/*---Payment method list start---*/
details {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

summary {
  padding: 10px 15px;
  background-color: #f4f4f4;
  cursor: pointer;
  font-weight: bold;
}

details[open] summary {
  border-bottom: 1px solid #ccc;
}

.payment-method-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  height: 100vh;
  overflow: auto;
  /* scrollbar-width: thin; 
  scrollbar-color: #4a4a4a;  */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* width: 80%; */
}
.payment-method-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.Credit-card-details,
.Debit-card-details {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.Credit-card-details:last-child,
.Debit-card-details:last-child {
  margin-bottom: 50px;
}
.div-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 10px; */
}
.input-split {
  /* width: 40%; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.splitted-div-row {
  display: flex;
  flex-direction: column;
}

.splitted-div-row > .inputtxt {
  width: 40%;
}

.inputtxt {
  padding: 6px 10px;
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 500;
  width: 100%;
}
.inputtxt:focus {
  border: 2px solid #36508f;
}
.payment-btn {
  cursor: pointer;
  padding: 10px 50px;
  color: #fafafa;
  background-color: #4a4a4a;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
}
/*---Payment method list ends---*/

/*---Orders Item List start ---*/
.orders-item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
  height: 100vh;
  overflow: auto;
  /* scrollbar-width: thin; 
  scrollbar-color: #4a4a4a;  */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* width: 80%; */
  /* position: relative; */
}
.orders-item-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.orders-item-info {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.orders-item-info:last-child {
  margin-bottom: 200px;
}
.orders-item-image {
  position: relative;
}
.orders-item-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/*---Orders Item List Ends ---*/
/*---main bar content ends---*/

/*---alertbox start---*/
/* .hidden {
  display: none;
} */
.model {
  /* display: block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #4a4a4a;
  color: #fafafa;
  /* width: 50%; */
  width: 200px;
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  z-index: 5;
}
.alert-content {
  padding: 20px;
  color: #fafafa;
  text-align: center;
  margin-top: 20px;
  width: 80%;
  height: 100px;
}
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-btn:hover,
.close-btn:focus {
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
}
/*---alertbox ends---*/

footer {
  margin-top: 50px;
}
