* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-size: 2rem; */
  color: #4a4a4a;
  position: relative;
}
/* h3 {
  color: #4d90fe;
} */

.paragraph {
  width: 450px;
}

.login-section {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
  font-size: 1rem;
}

.login-form {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  gap: 3rem;
}

.login-img {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
}

.form-div {
  display: flex;
  flex-direction: column;
}
input {
  width: 80%;
  border: 1px solid #4a4a4a;
  font-size: 1rem;
  color: #4a4a4a;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.4); */
}
input:focus {
  border: 2px solid #4d90fe;
  border-color: #4d90fe; /* Change border color */
  background-color: #fafafa; /* Change background color */
  outline: none; /* Removes the default browser outline (replace with custom style for accessibility) */
  box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}
.form-btn {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.btn {
  cursor: pointer;
  padding: 12px 18px;
  /* border: none; */
  background-color: #fafafa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  /* margin-right: 15px; */
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4a4a4a;
}

/*---alertbox start---*/
.hidden {
  display: none;
}
.model {
  /* display: block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #4a4a4a;
  color: #fafafa;
  /* width: 20%; */
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  z-index: 5;
}
.alert-content {
  padding: 20px;
  color: #fafafa;
  text-align: center;
  margin-top: 20px;
  width: 80%;
  height: 100px;
}
.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-btn:hover,
.close-btn:focus {
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
}
/*---alertbox ends---*/
